<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAeD1DuKe715AiS_ttq59vCER7lOd_gJo</string>
	<key>GCM_SENDER_ID</key>
	<string>318058730565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dream.SwiftfulFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp-74e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp-74e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318058730565:ios:742cd7c5bff09d54277f2c</string>
</dict>
</plist>